.cart-container {
  display: flex;
  margin: 1rem;
  /* background: grey; */
}

.cart-items {
  width: 80%;
}

.cart-empty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 270px;
  /* background: grey; */
  padding: 20px 0 15px 0;
  background: #fff;
  margin: 0 0 1rem 0;
}

.empty-cart-items {
  padding: 20px;
}

.empty-cart-items > h2 {
  font-size: 24px;
}

.empty-cart-items > a {
  font-size: 14px;
  color: rgb(68, 133, 155);
}

.empty-cart-items > a:hover {
  color: #c85552;
  text-decoration: underline;
}

.cart-empty > img {
  width: 40%;
  height: 100%;
}

.empty-cart-buttons {
  margin: 16px 0;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 100%; */
}

.signinacc-btn {
  height: 31px;
  width: fit-content;
  margin: 0 10px;
  border: 1px solid #f7ca00;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signinacc-btn:hover {
  background: #f7ca00;
}

.signupacc-btn {
  height: 31px;
  width: fit-content;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.signupacc-btn:hover {
  background: rgba(0, 0, 0, 0.15);
}

.cart-with-items {
  min-height: 74px;
  background: #fff;
  padding: 20px 0 15px 0;
  margin-bottom: 1rem;
}

.cart-suggestions {
  width: 20%;
  background: #fff;
  margin: 0 0 0 1rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  min-height: 270px;
  padding: 10px;
}

.cart-suggestions > p {
  font-size: 14px;
  font-weight: 600;
}

.cart-suggestions-card {
  display: flex;
  height: 100px;
  margin: 10px 0;
}

.cart-suggestion-card-image {
  flex: 1;
  object-fit: contain;
}

.cart-suggestion-card-info {
  flex: 1;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.cart-suggestion-card-info > p {
  padding: 3px 0;
}

.cart-suggestion-info-link {
  color: rgb(68, 133, 155);
  padding: 3px 0;
}

.cart-suggestion-info-link:hover {
  color: #c85552;
  text-decoration: underline;
}

.cart-suggestion-info-price {
  color: #c85552;
}

.preorder-btn {
  background: #f7ca00;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  font-weight: 400;
  /* width: 90%; */
  color: #000;
}

.cart-container-mobile {
  display: none;
}

@media screen and (max-width: 450px) {
  .cart-container {
    display: none;
  }

  .cart-container-mobile {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
  }

  .cart-container-mobile > svg {
    width: 150px;
  }

  .cart-container-mobile > h2 {
    font-size: 22px;
    margin: 3px 0;
  }

  .cart-container-mobile > a {
    color: rgb(68, 133, 155);
    font-size: 14px;
  }

  .cart-container-mobile > a:hover {
    color: #c85552;
    text-decoration: underline;
  }

  .cart-mobile-btns {
    width: 100%;
  }

  .cartLink {
    width: 100%;
  }

  .cartToSign {
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    background: #f7ca00;
  }
}
