.signup-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-wrapper {
  width: 570px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.signup-header-top {
  text-align: center;
  font-size: 16px;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.signup-form > input {
  height: 48px;
  margin: 24px 0;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px 10px;
}

.signup-form > p {
  font-size: 12px;
}

.signup-form > a {
  width: 100%;
}

.agreeAndC {
  width: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  background: #f7ca00;
  color: #000;
}

.agreeAndC:hover {
  background: #e6a400;
}

.goBack {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goBack > img {
  width: 15px;
  transform: rotate(180deg);
}

.goBack:hover {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
