.slider {
  height: 60vh;
  margin: 0 12.5rem;
  position: relative;
  /* overflow: hidden; */
}

.slider-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  height: 420px;
  position: absolute;
  top: 250px;
  margin: 0 0.8rem;
}

.card {
  flex: 1;
  /* width: 23%; */
  /* min-width: 200px; */
  height: 100%;
  margin: 0 0.6rem;
  padding: 1rem;
  background: #fff;
}

.card > h3 {
  height: 10%;
  font-size: 21px;
  background: #fff;
}

.card > img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.card > a {
  height: 10%;
  text-decoration: none;
  color: #007185;
  background: #fff;
}

.card > a:hover {
  color: #ff9900;
  text-decoration: underline;
}

.slider-arrow-container-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrow-container-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 250px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrow-container-left:hover {
  border: 2px solid #008296;
  border-radius: 5px;
  outline: 2px solid #fff;
}

.slider-arrow-container-right:hover {
  border: 2px solid #008296;
  border-radius: 5px;
  outline: 2px solid #fff;
}

.slider-arrow {
  width: 40px;
}

.slider-arrow-left {
  transform: rotate(180deg);
}

@media screen and (max-width: 1400px) {
  .slider {
    margin: 0 0.5rem;
  }

  .card:nth-child(n + 4) {
    display: none;
  }

  .card > h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .slider {
    height: 50vh;
    margin: 5px 0;
    position: relative;
    overflow: hidden;
  }

  .slider-arrow {
    display: none;
  }

  .slider-img {
    object-fit: contain;
    background: url("https://m.media-amazon.com/images/I/515QJ5ulwIL._SR1236,1080_.jpg");
  }

  .card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    position: absolute;
    bottom: 0;
    top: auto;
    margin: 0 0.1rem;
    /* overflow: scroll; */
  }

  .card {
    min-width: 30vw;
    /* min-width: 135px; */
    /* max-width: 140px; */
    height: 180px;
    margin: 0 0.2rem;
    padding: 0;
    background: #fff;
    border-radius: 5px;
  }

  .card:nth-child(n + 4) {
    display: block;
  }

  .card > a {
    display: none;
  }

  .card > h3 {
    height: 20%;
    font-size: 14px;
    padding: 0 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card > img {
    border-radius: 5px;
  }

  .slider-arrow-container-left {
    display: none;
  }

  .slider-arrow-container-right {
    display: none;
  }
}

/* @media screen and (max-width: 375px) {
  .card-container {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
} */
