.my-account-container {
  padding: 14px 18px 18px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-account-personalized {
  max-width: 1000px;
  /* border: 1px solid red; */
}

.my-account-grid {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.my-account-grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.my-account-grid-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px;
  color: rgb(75, 73, 73);
}

.my-account-grid-card:hover {
  background: rgba(0, 0, 0, 0.15);
}

.icon-round {
  width: 60px;
  /* padding: 10px; */
  background: #b8dde1;
  border-radius: 50%;
}

.my-account-grid-card-text {
  margin-left: 10px;
}

.my-account-grid-card-text > h6 {
  font-size: 17px;
  font-weight: 500;
  padding: 5px 0;
}
.my-account-grid-card-text > p {
  font-size: 14px;
}
/* account links */
.account-links-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
}

.account-links-grid-card {
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.account-links-grid-card-header {
  margin: 10px 0;
  font-size: 17px;
}

.account-links-grid-card-links {
  list-style: none;
}

.account-links-grid-card-links > li {
  padding: 5px 0;
  font-size: 14px;
}

.account-links-grid-card-links > li > a {
  color: #000;
}

.account-links-grid-card-links > li > a:hover {
  color: #c85552;
  text-decoration: underline;
}
