.nav-links {
  background: #232f3e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 39px;
  /* overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; */
}

.nav-links > li {
  list-style: none;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  /* min-width: fit-content; */
}

.nav-links > li:nth-child(n + 11) {
  display: none;
}

.nav-links > li > a {
  text-decoration: none;
  color: #fff;
}

.nav-links > li:hover {
  border: 1px solid #dadada;
  border-radius: 3px;
}

.toggle {
  display: flex;
  justify-content: center;
}

.toggle > img {
  height: 20px;
  filter: invert(1);
}

@media screen and (max-width: 450px) {
  .nav-links {
    background: #232f3e;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 39px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .nav-links > li {
    min-width: fit-content;
    padding: 0;
    margin: 0 5px;
  }

  .toggle {
    display: none;
  }
}
