.verify-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-content {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verify-header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
}

.code {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px 0;
}

.code > input {
  width: 60px;
  height: 50px;
  border-radius: 21px;
  border: 1px solid grey;
  outline: 0;
}

.verify-content > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirectW-btn {
  height: 48px;
  width: 95%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin: 10px 0;
}
